.container{
   width: 1200px ;
   margin: 0 auto;
    .header_text{
        color: #253858;
        font-size: 14px;
        margin-top: 30px;
    }
    .card_body{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 50px;
        .card{
            border-radius: 10px;
            width: 270px;
            height: 250px;
            // 
            padding: 10px 10px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            transition: all 0.3s ease;
            border: 1px  solid transparent;
            &:hover{
                box-shadow: none;
                border: 1px solid rgb(229, 229, 229);
                cursor: pointer;
            }
            h1{
                font-size: 16px;
                margin-bottom: 10px;
            }
            p{
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                color: gray;
            }
            .btn_body{
                width: 100%;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
                button{
                    border: 2px solid  #253858;
                    background-color: transparent;
                    padding: 5px 10px;
                    border-radius: 5px;
                    color: #253858;
                    font-weight: 500;
                    font-size: 15px;
                    transition: all 0.3s ease;
                    &:hover{
                        background-color: #5aa2f5;
                        color: white;
                        border: 2px solid transparent;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.search_filter{
    width: 100%;
    .search{
        width: 400px;
        height: 40px;
        border: 1px solid rgb(180, 180, 180);
        display: flex;
        align-items: center;
        padding: 0px 5px;
        border-radius: 10px;
        gap: 7px;
        color: #253858;
        margin-top: 10px;
        input{
            height: 30px;
            width: 100%;
            border: none;
            background-color: transparent;
            font-size: 16px;
            color: #253858;

            &::placeholder{
                color: #253858;
                font-style: italic;
                font-size: 16px;
            }
            &:focus{
                outline: none;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .container{
        width: 690px;
        margin: 0 auto;
    }
    .header_text{
        width: 570px;
        font-size: 12px !important;
        text-align: center;
        margin: 0 auto;
    }
    .card_body{
        display: flex;
        justify-content: center;
    }
    .search{
        margin: 0 auto;
        width: 560px !important;
    }

}
@media screen and (max-width: 750px) {
    .container{
        width: 350px;
        margin: 0 auto;
    }
    .header_text{
        width: 350px;
        font-size: 9px !important;
        text-align: center;
    }
    .card_body{
        display: flex;
        justify-content: center;
    }
    .search{
        margin: 0 auto;
        width: 270px !important;
    }
  
}