.writeExam_body{
    width: 100%;
    // height: 100vh;
    .header_text{
        margin: 0 auto;
        width: 300px;
        font-size: 15px;
        color: #253858;
         margin-top: 20px;
         h1{
            text-align: center;
         }
    }
}
.question_body{
display: flex;
// gap: 30px;
width: 1200px;
justify-content: center;
margin: 0 auto;
margin-bottom: 50px;
margin-top: 10px;
.question_count{
    width: 100px;
    background-color: red;
}
}
.question_option{
    // background-color: #5aa2f55d;
    background-color: white;
    width: 600px;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
.option_body{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    .option{
        width: 250px;
        // height: 40px;
        display: flex;
        align-items: center;
        margin-top: 20px;
        // background-color: #f4f4f4;
        // background-color: #59a6ff9c;
        background-color: #6db0fcfe;
         border:2px solid transparent;
        border-radius: 7px;
        padding: 7px 7px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        color: white;
    }
    .Selectedoption{
        width: 250px;
        // height: 50px;
        display: flex;
        align-items: center;
        margin-top: 20px;
        // background-color: #aaaaaa5e;
        // background-color: #b688f19c;
        background-color: #85bdfd9c;
        border: 2px solid #163c7f;
        border-radius: 7px;
        padding: 7px 7px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        color: white;
    }
}
.selectedOption{
    border: 1px solid red;
    height: 50px;
}
.writeExam{
    // background-color: blue;

}
}
.next_previous_btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    // button{
    //     width: 120px;
    //     height: 30px;
    //     border: none;
    //     font-weight: 500;
    //     font-size: 15px;
    //     border-radius: 7px;
    // }
    button{
        border: 2px solid  #253858;
        background-color: transparent;
        padding: 5px 10px;
        border-radius: 5px;
        color: #253858;
        font-weight: 500;
        font-size: 15px;
        transition: all 0.3s ease;
        width: 120px;
        height: 30px;
        &:hover{
            // background-color: #5aa2f5;
            // color: white;
            // border: 2px solid transparent;
            cursor: pointer;
        }
    }
    .next_btn{
        background-color: #253858;
        color: white;
            border: 2px solid transparent;
            cursor: pointer;
    }
    .submit_btn{
        background-color: #04AA6D;
        color: white;
        border: none;
        transition: all 0.3s ease;
        &:hover{
        background-color: #46f8b7;
            cursor: pointer;
        }
    }
}
.result_body{
    width: 100%;
    .result_container{
        width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        /* From https://css.glass */
background: rgba(51, 150, 227, 0.43);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
border: 1px solid rgba(51, 150, 227, 0.75);
margin-bottom: 50px;
margin-top: 20px;
        .result_items{
            width: 50%;
            h1{
                background: #7A25CF;
                background: repeating-linear-gradient(to right, #7A25CF 0%, #44CFAF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            p{
                color: rgb(0, 0, 0);
                font-size: 18px;
                margin-top: 10px;
            }
        }
        .lottie_animation{
            width: 40%;
            height: 300px;
        }
    }
}


@media screen and (max-width: 1200px) {
    .Instructions_body{
        width: 400px !important;
    }
   .question_body{
    width: 690px !important;
   }
   .result_container{
    width: 690px !important;
   }

}
@media screen and (max-width: 750px) {
    .Instructions_body{
        width: 310px !important;
    }
    .question_body{
        width: 350px !important;
       }
   .question_option{
    
   }
   .option{

       width: 290px !important;
   }
   .Selectedoption{
    width: 290px !important;
   }
   .result_container{
    width: 350px !important;
    .result_items{
        width: 100% !important;
    }
    flex-direction: column;
    h1{
        margin-bottom: 20px;
        text-align: center;
    }
    p{
        margin-left: 20px;
    }


}
 .lottie_animation{
            width: 100% !important;
            height: 300px;
        }

}