.writeExam_body{
    width: 100%;
    // height: 100vh;
    .header_text{
        margin: 0 auto;
        width: 300px;
        font-size: 15px;
        color: #253858;
         margin-top: 20px;
         h1{
            text-align: center;
         }
    }
}
.question_body{
display: flex;
// gap: 30px;
width: 1200px;
justify-content: center;
margin: 0 auto;
margin-bottom: 50px;
margin-top: 10px;
.question_count{
    width: 100px;
    background-color: red;
}
}
.question_option{
    // background-color: #5aa2f55d;
    background-color: white;
    width: 600px;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
.option_body{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    .option{
        width: 250px;
        height: 50px;
        display: flex;
        align-items: center;
        margin-top: 20px;
        // background-color: #f4f4f4;
        background-color: #a159ff9c;
         border:2px solid transparent;
        border-radius: 7px;
        padding: 0px 7px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        color: white;
    }
    .Selectedoption{
        width: 250px;
        height: 50px;
        display: flex;
        align-items: center;
        margin-top: 20px;
        // background-color: #aaaaaa5e;
        background-color: #b688f19c;
        border: 2px solid #253858;
        border-radius: 7px;
        padding: 0px 7px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        color: white;
    }
}
.selectedOption{
    border: 1px solid red;
    height: 50px;
}
.writeExam{
    // background-color: blue;

}
}
.next_previous_btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
}