.addExam_body {
    width: 1200px;
    margin: 0 auto;

    .addExam_text {
        margin-top: 30px;
        margin-bottom: 20px;
        color: #253858;
    }

    .form_body {
        width: 100%;
        margin: 0 auto;
        background-color: white;
        border-radius: 10px;
        padding: 10px 30px;

        form {
            width: 100%;
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            gap: 10px;
            button {
                margin-top: 30px;
                width: 150px;
                height: 40px;
                border-radius: 5px;
                border: none;
                background-color: #5aac44;
                color: white;
                font-size: 15px;
                font-weight: 500;
                transition: all 0.2s ease;

                &:hover {
                    background-color: #72b75f;
                    cursor: pointer;


                }

            }

        }

        .inp_name_body {
            padding-top: 10px;
            .require{
                color: red;
                font-size: 13px;
                margin-top: 4px;
            }
            .exam_name {
                color: #253858;
                font-weight: 500;
                font-size: 18px;
                margin-bottom: 5px;

            }

            .inp_body {
                width: 560px;
                height: 40px;
                border: 1px solid rgb(230, 230, 230);
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px 5px;
                gap: 8px;
                font-size: 20px;

                input {
                    width: 100%;
                    height: 35px;
                    border: none;
                    font-size: 18px;

                    &::placeholder {
                        font-size: 16px;
                        font-style: italic;
                        color: #253858;

                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}