.result_body{
    width: 100%;
    .result_container{
        width: 85%;
        margin: 0 auto;
    }
}
.table_body{
    margin-bottom: 30px;
}
.pageTitle{
    color: #253858;
    margin: 20px 0 20px 0;
    text-align: center;
}

