.navbar{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgba(250, 250, 250, 0.562);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .container{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .navbar_left{
            display: flex;
            width:250px ;
            height: 70px;
            align-items: center;
            color: #253858;
             font-size: 18px;
             cursor: pointer;
            img {
                width: 70px;
                height: 70px;
                mix-blend-mode:color-burn;

            }
        }
        .navbar_right{
            display: flex;
            width: 550px;
            height: 70px;
            justify-content: space-between;
            align-items: center;
            .active_route{
                border: 2px solid #253858;
                border-radius: 7px;
                
            }
            .items{
             
                height: 30px;
                gap: 5px;
                display: flex;
                align-items: center;
                cursor: pointer;
                font-weight: 600;
                color: #253858;
                border-radius: 5px;
                padding: 10px 15px;
               transition: all 0.3s ease;
                &:hover{
                    // border: 2px solid #253858;
                    // border-bottom:2px solid transparent;
                    // border-top:2px solid transparent;
        background-color: #5aa2f5;
        color: white;

                }
                .active_modal{
                  width: 150px;
                  height: 200px;
                  background-color:white;
                  // position: absolute;
                  top: 100px;
                  right: 80px;
                  display: flex;
                  flex-direction: column;
                  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                  padding: 10px 10px;
                  
          // top: 0;
          // right: 0;
           transition: 850ms;
                }
                .none_modal{
                  width: 0;
                  height: 0;
                  background-color: red;
                  justify-content: center;
                  display: none;
                }
            }
            .modal_items{
                height: 30px;
                gap: 5px;
                display: flex;
                align-items: center;
                cursor: pointer;
                font-weight: 600;
                color: #253858;
                border-radius: 5px;
                padding: 10px 15px;

              //  transition: all 0.3s ease;
              
               .user_name{
                margin-left: 15px;
                margin-bottom: 6px;
                display: flex;
                gap: 5px;
                font-size: 16px;
              }

                .active_modal{    
                  height: 80px;
                  background-color:white;
                  position: absolute;
                  top: 60px;
                  right: 50px;
                  display: flex;
                  flex-direction: column;
                  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                  padding-top: 10px;
                  padding: 10px 20px;
                  
          // top: 0;
          // right: 0;
          //  transition: 850ms;
                }
                .none_modal{
                  width: 0;
                  height: 0;
                  background-color: red;
                  justify-content: center;
                  display: none;
    // position: fixed;
    // top: -100px;
    // right: -1000px;
    // transition: 850ms;
                }
            }
        }
    }
}
.ham_menu{
  .hamburger_menu {
    height: 70px;
      background-color: rgba(250, 250, 250, 0.562);


    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    display: none ;
    padding: 0px 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 

  }
    .ham_menu_navbar_left{
        display: flex;
        width:250px ;
        height: 70px;
        align-items: center;
        color: #253858;
         font-size: 18px;
        //  position: absolute;
         cursor: pointer;
        img {
          mix-blend-mode:color-burn;
            width: 70px;
            height: 70px;
            

        }
    }



  
  .menu_bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    // z-index: 1000000;

  }
  
  .nav_menu {
    background-color: #060b26;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
    // position: absolute;
    z-index: 99999;

    
}
.active {
    // background-color: rgb(245, 245, 245);
    background-color: white;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 99999;
    right: 0;
    top: 0;
    transition: 350ms;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  
  .nav_text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav_items {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    color: #253858;
    &:hover{
        background-color: #1a83ff;
        color: white;
    }
  }
  .nav_items_user{
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    color: #253858;
    &:hover{
        background-color: #1a83ff;
        color: white;
    }
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav_menu_items {
    width: 100%;
  }
  
  .navbar_toggle {
    // background-color: rgb(245, 245, 245);
    background-color: white;
    border-bottom: 1px solid rgb(218, 218, 218);
    
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
    i{
        color: red;
    }
  }
  
  span {
    margin-left: 16px;
  }
}
  @media screen and (max-width: 1200px){
 .navbar{
    display: none !important;;
 }
 .hamburger_menu{
    display: flex !important;
 }
 }